/* navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
.app__nav-logo {
  width: 50px;
}
.app__nav-bg {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.nav-item {
  border: 2px solid rgba(255, 255, 255, 1) !important;
}
.nav-logo-brandName {
  font-size: 2rem;
  margin: 0 !important;
}
.nav-item:hover {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
main {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0 50px;
}
main.app__restaurant-main {
  background-image: url(./../img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* RESTAURANTS PAGE CSS */
.app__restaurants_r-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.app__restaurants_r-item {
  display: flex;
  padding: 2rem;
  height: 100%;
  max-height: 300px;
  align-items: center;
  gap: 20px;
  -webkit-border-radius: 10px;

  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid #fff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}
.app__restaurants_r-item:hover {
  cursor: pointer;
  backdrop-filter: blur(15px) brightness(2);
}
.app__restaurants_r-item:hover .app__restaurants_r-item-btn {
  display: block !important;
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.9);
}
.app__restaurants_r-item-img {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
}
.app__restaurants_r-item-img img {
  width: 100%;
}

.app__restaurants_r-item_name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.app__restaurants_r-item-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none !important;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* restaurant single css */

.app__restaurant-main {
  background-image: url(./../img/restauran-bg.jpg);
}
.app__restaurantDetails {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.app__restaurantDetails-info h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: 700;
}
.app__restaurantDetails-info p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}
.app__restaurantDetails-links {
  font-size: 2rem;
}
.app__restaurantDetails-links a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: rgba(0, 0, 0, 0.7);
}
.app__restaurantDetails-links a:hover {
  cursor: pointer;
  color: #000;
}
.app__restaurantDetails-map {
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 993px) {
  .app__restaurants_r-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .app__restaurants_r-item {
    padding: 1rem;
    gap: 10px;
  }
  .app__restaurants_r-item-img {
    width: 150px;
  }
}
